body {
    background-color: black;
    color: white;
}

.inner {
    display: grid;
}

.logo {
    display: grid;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.item {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2rem;
}

.price {
    font-size: 1.8rem;
    margin: 0.2rem 0;
}

button {
    margin-top: 1rem;
    padding: 0.8rem 5rem;
    border-radius: 11px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

img {
    width: 300px;
}